<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <display-name>Mimsl</display-name>
    <description>Instant lookup of MS/MS spectral library</description>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet>
      <description>Web Interface for MIMSL App</description>
      <display-name>Mimsl</display-name>
      <servlet-name>MimslServlet</servlet-name>
      <servlet-class>org.ms2ms.servlet.MimslServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>MimslServlet</servlet-name>
      <url-pattern>/Mimsl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MimslServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
