
.cls_table {
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 2px;
    border-spacing: 0px
}

.cls_row_footer td {
    background: #BFCFFF;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_row_footer_dark td {
    background: darkgray;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_row_light td {
    background: #FFF;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_row_shade td {
    background: #EEE;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_row_highlight td {
    background: #99CCFF;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_row_light_selected td {
    background: #64A8D1;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_row_shade_selected td {
    background: #3D9AD1;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_spec_selected {
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_sortable:hover {
    cursor: pointer;
}

.cls_row_head {
    background: #C96;
    font-weight: bold;
    color: white;
    padding: 1px 3px;
    text-align: left
}
.cls_row_head td {
    background: #C96;
    font-weight: bold;
    color: white;
    padding: 1px 3px;
    text-align: center;
}
.cls_header_vertical th td {
    background: #C96;
    font-weight: bold;
    color: white;
    padding: 1px 3px;
    text-align: center;
    DISPLAY: block;
    vertical-align: bottom;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    writing-mode: tb-rl;
}

/* Needs to be after the '.cls_row_head td' declaration */
td.cls_sorted_col {
    background: #f96;
}

.cls_row_subhead td {
    background: beige;
    font-weight: normal;
    color: #8F6B47;
    padding: 1px 3px;
    text-align: center;
    border: 1px outset;
    border-color: white
}
.cls_table .cls_row_head td {
    background: skyblue
}
.cls_table {
    margin: 0px; padding: 0px; margin-left: 16px
}
.cls_row_head td            { padding-left: 4px }
.cls_cell_input             {
    border: 1px inset;
    border-color: white;
    font-size: 0.95em;
    background-color: bisque;
    width: 99%;
    FONT-FAMILY: sans-serif, 'Ariel';
}