.cls_listing {
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 2px;
    border-spacing: 1px;
    font-size: 0.7em;
    fond-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 2px #888888;
}
.cls_light_row td {
    background: #FFF;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_shade_row td {
    background: #EEE;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #CCC;
    border-top: 1px solid #DDD;
    padding: 1px 1px 1px 1px
}
.cls_head_row {
    background: #C96;
    font-weight: bold;
    color: white;
    padding: 1px 3px;
    text-align: left
}
.cls_head_row td {
    background: #C96;
    font-weight: bold;
    color: white;
    padding: 1px 3px;
    text-align: center;
}
.cls_nowrap { white-space: nowrap; }
h2 { border-bottom: 1 outset; border-top: 1px}

.cls_footnote { font-style: italic; font-size: 0.7em; }
